.pageLink {
  background: transparent;
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  margin-left: -1px;
  line-height: 1.25;
  font-size: 1.2em;
  color: #abb4c7;
  background-color: transparent;
  border: 1px solid #abb4c7;
  cursor: pointer;
}

.pageLink:hover {
  color: #e9c9c3;
  text-decoration: none;
}

.slideContainer {
  padding: 50px 20px 100px 20px;
}

.shareBar {
  margin-top: 50px;
  display: flex;
}

.linkButton {
  width: 100px;
  padding: 15px;
  font-size: 1em;
  text-align: right;
  padding-left: 45px;
  border: 1px solid #abb4c7;
  border-radius: 10px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  cursor: pointer;
}

.linkButton:hover {
  color: #c25b43;
  border-color: #c25b43;
  transition: all 0.3s;
}

.slideContent {
  font-size: 1.3em;
}

.projectScreenshot {
  width: 1000px;
  height: 600px;
  position: absolute;
  overflow: hidden;
  margin-top: -60px;
  background-size: 100% auto;
}

.activeItem {
  background: #28303f !important;
}

@media only screen and (max-width: 768px) {
  .projectScreenshot {
    position: relative;
  }
}
