#skillsWave {
  background-image: url("/waves/skillsWave.svg");
  background-size: cover;
  background-position: 840px 0px;
  background-repeat: repeat-x;
  margin-top: 120px;
  /* animation-name: moveWave; */
  animation-duration: 30s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
  height: min-content;
}

.skillsContainerContent {
  width: 70%;
  margin: auto;
  height: min-content;
  padding: 20vh 0px;
  /* background: red; */
  min-height: 50vh;
  font-size: 1rem;
}

@media only screen and (min-width: 2000px) {
  .skillsContainerContent {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1224px) {
  #skillsWave {
    background-position: 240px 0px;
    background-size: auto 100%;
  }
  .skillsContainerContent {
    padding: 200px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .skillsContainerContent {
    padding: 150px 0px;
    padding-top: 150px;
  }
}

@keyframes moveWave {
  0% {
    background-position: 50vw 0px;
  }
  50% {
    background-position: 100vw 0px;
  }
  100% {
    background-position: 150vw 0px;
  }
}
