#skillsWave {
  background-image: url("/waves/skillsWave.svg");
  background-size: cover;
  background-position: 840px 0px;
  background-repeat: repeat-x;
  margin-top: 120px;
  animation-name: moveWave;
  animation-duration: 20s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}

.skillsContainerContent {
  width: 80%;
  margin: auto;
  height: min-content;
  padding: 250px 0px;
}

@media only screen and (max-width: 1224px) {
  #skillsWave {
    background-position: 240px 0px;
    background-size: auto 100%;
  }
  .skillsContainerContent {
    padding: 200px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .skillsContainerContent {
    padding: 100px 0px;
    padding-top: 150px;
  }
}


@keyframes moveWave {
  0%   {background-position: 50vw 0px;}
  50%  {background-position: 100vw 0px}
  100% {background-position: 150vw 0px}
}