.skillsContainer {
  background: linear-gradient(#1c212c, #371810, #1b0c08);
  width: 100%;
  padding-top: 200px;
}

.skillsContainerContent {
  width: 80%;
  margin: auto;
  height: min-content;
  padding-bottom: 240px;
}
