.techIconBox {
  border: 1px #768bb1 solid;
  color: #abb4c7;
  padding: 1vh 1px;
  border-radius: 10px;
  margin-top: 25px;
  min-width: 120px;
  max-width: 10rem;
}

.techIconImage {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.3rem;
}

.techIconText {
  text-align: center;
  margin-top: 0.4rem;
  overflow: hidden;
  font-size: 1.4rem;
  margin-left: -0.5rem;
}

@media only screen and (min-width: 2000px) {
  .techIconBox {
    width: 26rem;
    max-width: 100rem;
    margin-right: 15rem;
  }

  .techIconImage {
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
  }

  .techIconText {
    margin-top: 0.4rem;
    font-size: 3rem;
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 1224px) {
  .techIconText {
    margin-top: 8px;
    margin-left: -10px;
  }

  .techIconImage {
    width: 40px;
    height: 40px;
  }
}
