.footerContainer {
  background-image: url("/waves/footWave2.svg");
  background-size: cover;
  background-position: 50px 0px;
  background-repeat: repeat-x;  
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: -150px;
}

.footerContainerContent {
  width: 80%;
  margin: auto;
  height: 250px;
  text-align: center;
  padding-top: 100px;
  opacity: 0.5;
  line-height: 12px;
}
