#projectssWave {
  background-image: url("/waves/projectsWave.svg");
  background-size: cover;
  background-repeat: repeat-x;
  margin-top: -150px;
  overflow: hidden;
  background-position: -350px 0px;
  /* animation-name: moveWave; */
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

.projectsContainerContent {
  width: 80%;
  margin: auto;
  height: min-content;
  padding: 200px 0px;
}

@media only screen and (max-width: 1224px) {
  #projectssWave {
    margin-top: -90px;
    animation-name: none;
  }
  .projectsContainerContent {
    padding: 150px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .projectsContainerContent {
    padding: 150px 0px;
  }
}

@keyframes moveWave {
  0%   {background-position: 0vw 0px;}
  50%  {background-position: 50vw 0px}
  100% {background-position: 100vw 0px}
}