.projectsContainer {
  background: linear-gradient(#1e2c2c, #1c1e2c);
  width: 100%;
  margin-top: -260px;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
}

.projectsContainerContent {
  width: 80%;
  margin: auto;
  height: min-content;
}

@media only screen and (max-width: 1224px) {
  .projectsContainer {
    margin-top: -300px;
  }
}

@media only screen and (max-width: 768px) {
  .projectsContainer {
    margin-top: -350px;
  }
}
