#projectssWave {
  background-image: url("/waves/projectsWave3.svg");
  background-size: cover;
  background-position: -350px 0px;
  background-repeat: repeat-x;
  margin-top: -150px;
  overflow: hidden;
}

.projectsContainerContent {
  width: 80%;
  margin: auto;
  height: min-content;
  padding: 200px 0px;
}

@media only screen and (max-width: 1224px) {
  #projectssWave {
    margin-top: -90px;
  }
  .projectsContainerContent {
    padding: 150px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .projectsContainerContent {
    padding: 150px 0px;
  }
}
