@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

a {
  color: #abb4c7;
}

a:hover {
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #1c212c;
  background-image: linear-gradient(#1c212c, #161c25, #0f131a 30%);
  color: #abb4c7;
  font-family: "Nunito", sans-serif;
}

#mainContainer {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.subHeading {
  color: #e9c9c3;
  font-family: "Quantico", sans-serif;
}

@media only screen and (max-width: 768px) {
  #mainContainer {
    width: 90%;
  }
}
