#about {
  font-family: "Quantico", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  width: 60%;
  margin: auto;
  margin-top: 4em;
}

.aboutTitle {
  font-size: 4rem;
  background: linear-gradient(to right, #abb4c7, #d9dae2, #d66853 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutButton {
  margin: auto;
  margin-top: 1.7rem;
  width: min-content;
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  font-family: "Nunito", sans-serif;
  border: 0.05rem solid #768bb1;
  cursor: pointer;
}

.aboutButton:hover {
  background: #768bb1;
  color: #11151c;
  transition: 0.3s;
}

@media only screen and (min-width: 2000px) {
  .aboutTitle {
    font-size: 6rem;
  }
  #about {
    font-size: 3rem;
  }

  .aboutButton {
    margin-top: 4rem;
    padding: 0.9rem 2rem;
  }
}

@media only screen and (max-width: 1224px) {
  #about {
    width: 90%;
    font-size: 1.4em;
  }

  .aboutTitle {
    font-size: 2.4em;
  }
}
